.box-img-top-date-public {
    margin-bottom: 1em;
}

.img-top-date-public {
    width: 100%;
    height: 600px;
}

.box-display-date-public {
    margin: 3em;
    text-align: center;
}

.txt-p-date-public {
    color: $textColor;
    font-family: $textFont;
    font-size: 1.5em;
    font-weight: bold;
}