.title-card-perf-public {
    text-align: center;
    color: $textColor;
    font-family: $textFont;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.txt-card-perf-public {
    color: $textColor;
    font-family: $textFont;
    text-align: center;
    font-size: 1.4em;
}

.box-perf-page-public {
    margin-bottom: 5em;
}