<div class="box-form-admin">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="align-button-action-admin">
            <button class="btn btn-secondary">{{ button_label|default('Enregistrer') }}</button>
        </div>
    {{ form_end(form) }}
</div>