{% extends 'base.html.twig' %}

{% block title %}Administration des tarifs{% endblock %}

{% block body %}
    <h1 class="h1-admin">Administrer les tarifs</h1>
    <div class="center-buttom-new-admin">
        <a href="{{ path('price_new') }}"><button type="button" class="btn btn-success">Créer un nouveau tarif</button></a>
    </div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}

            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for price in prices %}
        <div class="card index-performance">
            <div class="card-body box-perfo">
                <h5 class="card-title title-performance">{{ price.priceType }}</h5>
                <a href="{{ path('price_edit', {'id': price.id}) }}" class="card-link"><button type="button" class="btn btn-secondary">Modifier</button></a>
            </div>
        </div>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    <div class="box-button-return">
        <a href="#" class="link-return-admin"><button type="button" class="btn btn-secondary">Retour à l'administration générale</button></a>
    </div>
{% endblock %}
