{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau tarif{% endblock %}

{% block body %}
    <h1 class="h1-admin">Créer un nouveau tarif</h1>

    {{ include('admin/price/_form.html.twig') }}

    <a href="{{ path('price_index') }}"><button class="btn btn-secondary link-return-admin">Retour à l'administration des tarifs</button></a>
{% endblock %}
