<div class="box-footer">
    <p class="txt-footer">Par Valentin Fauchère</p>
    <p class="txt-footer">Wild Code School d'Orléans</p>
    <small>Wild Circus {{ "now"|date("Y") }} </small>
    <p class="link-footer-admin"><a href="{{ path('app_login') }}" class="link-admin-footer">ADMIN</a></p>
</div>